<h1>Slideshow#index</h1>

<ul>
	<li><%= link_to "祝電を見る", slideshow_show_path %></li>
</ul>

<% if current_user %>
  <ul>
	  <li><%= link_to "「上の句」の登録/編集/削除", upper_phrases_path %></li>
	  <li><%= link_to "「下の句」の登録/編集/削除", lower_phrases_path %></li>
  </ul>

  <hr>

  <ul>
    <li><%= link_to "Logout", user_logout_path, :method => :delete %></li>
  </ul>
<% else %>
  <ul>
    <li>twitter か facebook で Login すると、祝電が登録できます</li>
  </ul>

  <hr>

  <ul>
    <li><%= link_to "Login in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
    <li><%= link_to "Login in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
  </ul>
<% end %>
