<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @upper_phrase.content %>
</p>

<p>
  <b>Available:</b>
  <%= @upper_phrase.available %>
</p>

<p>
  <b>Deleted:</b>
  <%= @upper_phrase.deleted %>
</p>


<%= link_to 'Edit', edit_upper_phrase_path(@upper_phrase) %> |
<%= link_to 'Back', upper_phrases_path %>
