<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @lower_phrase.content %>
</p>

<p>
  <b>Available:</b>
  <%= @lower_phrase.available %>
</p>

<p>
  <b>Deleted:</b>
  <%= @lower_phrase.deleted %>
</p>


<%= link_to 'Edit', edit_lower_phrase_path(@lower_phrase) %> |
<%= link_to 'Back', lower_phrases_path %>
