<h1>Listing lower_phrases</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Available</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lower_phrases.each do |lower_phrase| %>
  <tr>
    <td><%= lower_phrase.content %></td>
    <td><%= lower_phrase.available %></td>
    <td><%= lower_phrase.deleted %></td>
    <td><%= link_to 'Show', lower_phrase %></td>
    <td><%= link_to 'Edit', edit_lower_phrase_path(lower_phrase) %></td>
    <td><%= link_to 'Destroy', lower_phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lower phrase', new_lower_phrase_path %>
