<h1>「下の句」リスト</h1>

<p><%= link_to '新規登録', new_lower_phrase_path %></p>
<p>自分で登録した「下の句」のみ編集・削除できます</p>

<table border>
  <tr>
    <th>句</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @lower_phrases.each do |lower_phrase| %>
  <tr>
    <td><%= lower_phrase.content %></td>
    <% if current_user && current_user.id == lower_phrase.user_id %>
    <td><%= link_to '編集', edit_lower_phrase_path(lower_phrase) %></td>
    <td><%= link_to '削除', lower_phrase, method: :delete, data: { confirm: "「#{lower_phrase.content}」を削除します。よろしいですか?" } %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to '新規登録', new_lower_phrase_path %></p>
<p><%= link_to 'Top', root_path %></p>
