<div id="slide">
 <div id="phrases">
    <p id="upper">
     <%= @upper_phrase.content %>
    </p>

    <p id="lower">
	    <%= @lower_phrase.content %>
    </p>
  </div>

  <p id="from">
  	<%= image_tag('icons/anonymous.png') %>匿名希望
  </p>
</div>

<p><%= link_to 'Top', slideshow_index_path %></p>
<p><%= link_to 'More', slideshow_show_path %></p>