<h1>「上の句」リスト</h1>

<p><%= link_to '新規登録', new_upper_phrase_path %></p>
<p>自分で登録した「上の句」のみ編集・削除できます</p>

<table border>
  <tr>
    <th>句</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @upper_phrases.each do |upper_phrase| %>
  <tr>
    <td><%= upper_phrase.content %></td>
    <% if current_user && current_user.id == upper_phrase.user_id %>
    <td><%= link_to '編集', edit_upper_phrase_path(upper_phrase) %></td>
    <td><%= link_to '削除', upper_phrase, method: :delete, data: { confirm: "「#{upper_phrase.content}」を削除します。よろしいですか?" } %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to '新規登録', new_upper_phrase_path %></p>
<p><%= link_to 'Top', root_path %></p>
